/*
 * Name: April Jane
 * Date: Janurary 2013 
 * Description: A theme for http://blog.imley.net
 * Author: Leroy Jiang
 * Author URI: http://imley.net
 */

/* Imports */
@import url("normalize.css");
@import url("autumn.css");

a {
    color: #4183C4;
}

a.absent {
    color: #cc0000;
}

a:hover {
    color: #4183E0;
}

body {
    background-color: #eee;
}

#wrapper {
    padding: 0 40px;
    padding: 0 2.857142857rem;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

a.site-name {
    text-decoration: none;
    color: #444;
}

a.site-name:hover {
    color: #222;
}

#banner {
    border-bottom: 1px;
    border-bottom-color: #eee;
    border-bottom-style: dotted;
}

#banner h1 {
    padding-top: 1em;
    margin-bottom: 0.2em;
}

#banner a {
    text-decoration: none;
}

#banner h2 {
    font-size: 1.2em;
    margin-top: 0;
    font-style: italic;
    color: #777;
}

#banner ul {
    padding-left: 0;
}

#banner nav {
    margin-left: 201px;
    margin-top: -15px;
}

#banner nav li {
    display: inline;
    margin-right: 5px;
}

#banner nav a {
    font-size: 1.1em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #888;
    color: #333;
}

#banner nav a:hover, #banner nav a.active {
    border-color: #333;
    color: #000;
}

#content {
    float: right;
    width: 750px;
    padding-left: 9px;
    border-left: 1px dotted #eee;
}

.entry-tags a {
    margin-left: 0.5em;
}

#sidebar {
    float: left;
    width: 200px;
}

#sidebar section {
    margin: 0.5em 0 1em 0;
}

#sidebar h1{
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 0.2em;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin-bottom: 0.2em;
}

#sidebar a {
    text-decoration: none;
    margin-left: 0.1em;
    padding-left: 0.5em;
    border-left: 0.2em solid #eee;
}

#sidebar a.active, #sidebar a:hover {
    border-color: #aaa;
}

#entry-comments h1{
    font-size: 1.5em;
}

#footer {
    clear: both;
    text-align: right;
}

.codehilite {
    background-color: #f0f0f0;
}

article h1 {
    border-left: 0.5em solid #eee;
    padding-left: 0.5em;
}
article h1 a {
    text-decoration: none;
}

article {
    border-bottom: 2px dotted #eee;
}
