/*
 * Name: April Jane
 * Date: Janurary 2013 
 * Description: A theme for http://blog.imley.net
 * Author: Leroy Jiang
 * Author URI: http://imley.net
 */

/* Imports */
@import url("normalize.css");
@import url("autumn.css");

a {
    color: #4183C4;
}

a.absent {
    color: #cc0000;
}

a:hover {
    color: #4183E0;
}

blockquote {
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 1px dotted #eee;
}

body {
    background-color: #eee;
    font-family: STHeiti, STXihei, Verdana, Arial, Microsoft Yahei;
    line-height: 1.3em;
}

#wrapper {
    padding: 0 40px;
    padding: 0 2.857142857rem;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

a.site-name {
    color: #444;
}

a.site-name:hover {
    color: #222;
    text-shadow: 0 0 1px;
}

#banner {
    border-bottom: 1px;
    border-bottom-color: #eee;
    border-bottom-style: dotted;
}

#banner h1 {
    padding-top: 1em;
    margin-bottom: 0.2em;
}

#banner a {
    text-decoration: none;
}

#banner h2 {
    font-size: 1.2em;
    margin-top: 0;
    font-style: italic;
    color: #777;
}

#banner ul {
    padding-left: 0;
}

#banner nav {
    margin-left: 21%;
    margin-top: -15px;
}

#banner nav li {
    display: inline;
    margin-right: 5px;
}

#banner nav a {
    font-size: 1.1em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #888;
    color: #333;
}

#banner nav a.active {
    font-weight: bold;
}

#banner nav a:hover, #banner nav a.active {
    border-color: #333;
    color: #000;
}

#banner nav a:hover {
    text-shadow: 0 0 1px; 
}

#content {
    float: right;
    width: 78%; 
    padding-left: 9px;
    border-left: 1px dotted #eee;
}

.entry-tags a {
    margin-left: 0.5em;
}

#sidebar {
    float: left;
    width: 20%;
}

#sidebar section {
    margin: 0.5em 0 1em 0;
}

#sidebar h1{
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 0.2em;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin-bottom: 0.2em;
}

#sidebar a {
    text-decoration: none;
    margin-left: 0.1em;
    padding-left: 0.5em;
    border-left: 0.2em solid #eee;
}

#sidebar a:hover {
    text-shadow: 0 0 1px;
}

#sidebar a.active {
    font-weight: bold;
}

#sidebar a.active, #sidebar a:hover {
    border-color: #aaa;
}

#tagcloud a {
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

#tagcloud a:hover {
    font-weight: bold;
}

#tagcloud p {
    line-height: 13px;
    text-align: center;
}

#search input {
    width: 85%;
}

#entry-comments h1{
    font-size: 1.5em;
    border-left: 0.5em solid #eee;
    padding-left: 0.5em;
}

#footer {
    clear: both;
    text-align: right;
}

.codehilite {
    background-color: #f0f0f0;
    margin: 0 0.2em;
    padding: 0 0.5em;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    border-left: 0.5em solid #eee;
    padding-left: 0.5em;
    line-height: 1em;
}

article h1 {
    border-color: #aaa;
}

article h1 a {
    text-decoration: none;
}

article h1 a:hover {
    text-shadow: 0 0 1px;
}

article {
    border-bottom: 2px dotted #eee;
}

.entry-content .entry-tags {
    float: left;
    border: 1px dotted #888;
    border-radius: 5px;
    margin-right: 1em;
    width: 100px;
    padding: 0.2em 0.5em;
    background-color: #fffff0;
}

.entry-content .entry-tags a {
    display: block;
    margin-left: 1em;
}

.permalink {
    padding-left: 0.5em;
    border-left: 0.3em solid #eee;
    font-style: italic;
}

.permalink a {
    font-style: normal;
    font-weight: bold;
}

a.readmore {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
}

a.readmore:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px;
}
