{% extends "base.html" %}
{% block title %}Archives | {{ SITENAME }}{% endblock %}
{% block content_title %}<h1>Archives for "{{ SITENAME }}"</h1>{% endblock %}
{% block content %}
{% if articles %}
  <ul>
  {% for year in range(articles[-1].date.year, articles[0].date.year+1) %}
    <li><a href="#archives-{{year}}">{{ year  }}</a></li>
  {% endfor %}
  </ul>
  {% for year in range(articles[-1].date.year, articles[0].date.year+1) %}
  <dl>
    <h2 id="archives-{{ year }}">Entries on {{ year }}</h2>
  {% for article in dates %}
  {% if article.date.year == year %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
  {% endif %}
  {% endfor %}
  </dl> 
  {% endfor %}
{% endif %}
{% endblock content %}
