{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block content %}
<article> 
  <header>
    <h1 class="entry-title">{{ article.title }}</h1>
    {% include 'article_infos.html' %}
  </header>

  <div class="entry-content">
    {{ article.content }}
  </div>
</article>

<section id="entry-comments">
{% if DISQUS_SITENAME %}
  <h1>Comments on {{ article.title }}</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ article.url }}";
    {% if not RELATIVE_URLS %}
    var disqus_url = "{{ SITEURL }}/{{ article.url }}";
    {% elif FEED_DOMAIN %}
    var disqus_url = "{{ FEED_DOMAIN }}/{{ article.url }}";
    {% endif %}
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endif %}
</section>
{% endblock %}
