{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
  {% for article in articles_page.object_list %}
  <article class="entry-summary">
    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    {% include 'article_infos.html' %}
    {{ article.summary }}
    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
    {% include 'comments.html' %}
  </article>
  {% endfor %}
{% endif %}
{% endblock content %}
